<!DOCTYPE html>
<html>
  <head>
    <title>หน้าหลัก</title>
    <meta charset="utf-8">

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <meta 
      name="viewport" 
      content="width=device-width, initial-scale=1">

    <script 
      src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"
      ></script>

    <script 
      src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"
      ></script>

    <script 
      defer 
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
      ></script>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"
      ></script>

    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <style>
#tab-content p {
  display: none;
}

      #tab-content p.is-active {
        display: block;
      }
    </style>
  </head>
  <body>
    <!-- Vue app start-->
    <div id="app">

      <!-- Navbar start-->
      <div id="navbar">
        <nav class="navbar is-fixed-top">
          <div class="navbar-brand">
            <a class="navbar-item" v-on:click="focus_table('product')">
              <img src="./resource/logo.png" alt="Home" width="72*2" height="28*2"/>
            </a>
            <div role="button "class="navbar-burger burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="#product" v-on:click="focus_table('product')">
                หน้าแรก
              </a>
              <a
                class="navbar-item"
                v-if="((login == true) && (user.role == 'admin'))"
                v-on:click="click_content('hire-to-fix')"
                href="#hire-to-fix">
                แจ้งซ่อม
              </a>
              <a
                class="navbar-item"
                v-if="((login == true) && (user.role == 'admin'))"
                v-on:click="click_content('operator-tracking')"
                href="#operator-tracking">
                ติดตามช่าง
              </a>
              <a
                class="navbar-item"
                v-if="((login == true) && (user.role == 'operator'))"
                v-on:click="click_content('repair-jobs')"
                href="#repair-jobs">
                งานซ่อม
              </a>
              <a
                class="navbar-item"
                href="#problem-report" 
                v-if="(login == true)" 
                v-on:click="click_content('problem-report')">
                แจ้งปัญหา
              </a>
            </div>

            <div class="navbar-end">
              <a class="navbar-item">
                <i class="fa fa-bell"></i>
              </a>
              <a
                v-if="login == true"
                href="#profile"
                class="navbar-item"
                v-on:click="click_content('profile')">
                ข้อมูลส่วนตัว
              </a>
              <a
                v-if="login == true"
                class="navbar-item"
                v-on:click="logout">
                ออกจากระบบ
              </a>
            </div>
          </div>
        </nav>

        <!-- Navbar end -->
      </div>

      <!-- old login

        <div id="modal_login" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">เข้าสู่ระบบ</p>
        <button class="delete" aria-label="close" v-on:click="remove_class_by_id('modal_login', 'is-active')"></button>
        </header>
        <section class="modal-card-body">
        <div class="field">
        <label class="label">Username</label>
        <div class="control">
        <input class="input" type="text" id="iuser" placeholder="Username">
        </div>
        <p id="notic_user" class="help is-danger">Username ไม่ถูกต้อง</p>
        </div>
        <div class="field">
        <label class="label">Password</label>
        <div class="control">
        <input class="input" type="password" id="ipass" placeholder="Password">
        </div>
        <p id="notic_pass" class="help is-danger">Password ไม่ถูกต้อง</p>
        </div>
        </section>
        <footer class="modal-card-foot">
        <button id="btn_login"class="button is-primary" onclick="fb_check_user()">เข้าสู่ระบบ</button>
        <button id="btn_to_register"  v-on:click="add_class_by_id('modal_register', 'is-active')" class="button">สมัครสมาชิก</button>
        <button class="button" v-on:click="remove_class_by_id('modal_login', 'is-active')">ยกเลิก</button>
        </footer>
        </div>
        </div>
      -->

      <!-- old register

        <div id="modal_register" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">สมัครสมาชิก</p>
        <button class="delete" aria-label="close" v-on:click="remove_class_by_id('modal_register', 'is-active')"></button>
        </header>
        <section class="modal-card-body">
        <div class="field">
        <label class="label">ชื่อ-นามสกุล</label>
        </div>
        <div class="control">
        <input id="reg_fname" class="input" type="text" placeholder="">
        </div>
        <div class="field">
        <label class="label">ที่อยู่</label>
        </div>
        <div class="control">
        <input id="reg_addr"class="input" type="text" placeholder="">
        </div>
        <div class="field">
        <label class="label">เบอร์โทร</label>
        </div>
        <div class="control">
        <input id="reg_tel"class="input" type="text" placeholder="">
        </div>
        <div class="field">
        <label class="label">Username</label>
        </div>
        <div class="control">
        <input id="reg_usr"class="input" type="text" placeholder="Username">
        </div>
        <div class="field">
        <label class="label">Email</label>
        </div>
        <div class="control">
        <input id="reg_email" class="input" type="text" placeholder="Email">
        </div>
        <div class="field">
        <label class="label">ยืนยัน Email</label>
        </div>
        <div class="control">
        <input class="input" type="text" placeholder="">
        </div>
        <div class="field">
        <label class="label">Password</label>
        </div>
        <div class="control">
        <input id="reg_pass" class="input" type="text" placeholder="">
        </div><div class="field">
        <label class="label">ยินยัน Password</label>
        </div>
        <div class="control">
        <input class="input" type="text" placeholder="">
        </div>
        </section>
        <footer class="modal-card-foot">
        <button class="button is-success" v-on:click="registering">ส่ง</button>
        <button class="button" v-on:click="remove_class_by_id('modal_register', 'is-active')">ยกเลิก</button>
        </footer>
        </div>
        </div>
      -->


      <br>
      <br>

      <!-- model-editor start -->

      <div id="modal-editor" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
             แก้ไข {{ current_trouble_editor }}
            </p>
            <button
              class="delete"
              v-on:click="remove_class_by_id('modal-editor', 'is-active')"
              aria-label="close">
            </button>
          </header>
          <section class="modal-card-body">
            <div>
              ลูกค้า
              <br>
              {{ editor.customer }}
              <br>
              วันที่
              <br>
              <input
                id="editor-date"
                class="date"
                type="date"
                v-model="editor.date">
              <br>
              ผู้ดำเนินการ
              <br>
              <div class="select">
                <select
                  id="editor-operator"
                  v-model="editor.operator">
                  <option
                    v-for="operator in operators">
                    {{ operator.full_name }}
                  </option> 
                </select>
              </div>
              <br>
              สถานะ
              <br>
              <div class="select">
                <select
                  id="editor-status"
                  v-model="editor.status_selected">
                  <option>ยังไม่ดำเนินการ</option>
                  <option>เสร็จสิ้น</option> 
                </select>
              </div>
              <br>
              ปัญหา
              <br>
              <div class="select">
                <select
                  id="editor-problem"
                  v-model="editor.problem">
                  <option>เช็คหัวพิมพ์</option>
                  <option>ซ่อมเครื่อง</option>
                  <option>เปลี่ยนอะไหล่</option>
                  <option>แก้ไขงานให้กับลูกค้า</option>
                  <option>ติดตั้งเครื่องใหม่</option>
                </select>
              </div>
              <br>
              รายละเอียด
              <br>
              <textarea
                id="editor-detail"
                class="textarea"
                v-model="editor.detail">
              </textarea>
              <br>
              เอกสาร
              <br>
              <a>เอกสาร</a>
              <br>
              รูปภาพ
              <br>
              <figure>
                <img alt="">
              </figure>
              <br>
              วีดีโอ
              <br>
              <video width="320" height="240" controls>
                <source type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <br>
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-danger"
              v-on:click="update_trouble_all(current_trouble_editor)">
              แก้ไข
            </button>
            <button
              class="button is-danger"
              v-on:click="delete_data_firebase(current_trouble_editor)">
              ลบ
            </button>
            <button class="button">ปริ้น</button>
            <button
              class="button is-success"
              v-on:click="remove_class_by_id('modal-editor', 'is-active')">
              ยกเลิก
            </button>
          </footer>
        </div>
      </div> 
      <!-- model-editor end -->


      <!-- login and register start-->

      <div id="login and register">
        <div class="columns">
          <div class="column is-4 is-offset-1">
            <!-- login start -->

            <div id="login">
              <br><br>
              <h1 class="title">
                เข้าสู่ระบบ
              </h1>
              <br>
              <input 
                  class="input" 
                  type="text" 
                  id="login-username" 
                  placeholder="Username" 
                  value="">
              <br><br>
              <input 
                  class="input" 
                  type="password" 
                  id="login-password" 
                  placeholder="Password" 
                  value="">
              <br>
              <br>
              <button 
                  class="button" 
                  v-on:click="loging_in">
                เข้าสู่ระบบ
              </button>
            </div>

            <!-- login end -->
          </div>
          <div class="column is-4 is-offset-2">
            <!-- register start -->

            <div id="register">
              <br><br>
              <h1 class="title">
                สมัครสมาชิก
              </h1>
              <br>
              <input 
                  class="input" 
                  type="text" 
                  id="register-full_name" 
                  value="" 
                  placeholder="Full Name">
              <br><br>
              <input 
                  class="input" 
                  type="text" 
                  id="register-address" 
                  value="" 
                  placeholder="Address">
              <br><br>
              <input 
                  class="input" 
                  type="text" 
                  id="register-tel" 
                  value="" 
                  placeholder="Telephone">
              <br><br>
              <input 
                  class="input" 
                  type="text" 
                  id="register-username" 
                  value="" 
                  placeholder="Username">
              <br><br>
              <input 
                  class="input" 
                  type="email" 
                  id="register-email" 
                  value="" 
                  placeholder="Email">
              <br><br>
              <input 
                  class="input" 
                  type="text" 
                  id="register-password" 
                  value="" 
                  placeholder="Password">
              <br><br>
              <button 
                  class="button" 
                  v-on:click="registering">
                register
              </button>
            </div>

            <!-- register end -->

          </div>
        </div> 	
      </div>

      <!-- login and register end-->

      <user-profile id="profile" v-bind:user="user"></user-profile>

      <!-- modal - operators -->
      <div id="modal-operators" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">เลือกผู้ดำเนินงาน</p>
            <button class="delete" v-on:click="remove_class_by_id('modal-operators', 'is-active')" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <button
              v-for="operator in operators"
              v-on:click="update_trouble_operator(operator.full_name)"
              >
              {{ operator.full_name }}
            </button>
          </section>
          <footer class="modal-card-foot">
            <button v-on:click="remove_class_by_id('modal-operators', 'is-active')" class="button">Cancel</button>
          </footer>
        </div>  

      </div> 

      <!-- problem-report start -->

      <div id="problem-report" class="columns">
        <div class="column is-10 is-offset-1">
          problem-report
          <br>
          problem-type
          <br>
          <div class="select">
            <select id="troub_trouble">
              <option>เช็คหัวพิมพ์</option>
              <option>ซ่อมเครื่อง</option>
              <option>เปลี่ยนอะไหล่</option>
              <option>แก้ไขงานให้กับลูกค้า</option>
              <option>ติดตั้งเครื่องใหม่</option>
            </select>
          </div>
          <br>
          problem-date
          <br>
          <input id="troub_date" class="date" type="date">
          <br>
          problem-detail
          <br>
          <textarea
            id="troub_detail" 
            class="textarea" 
            rows="8" 
            cols="40" 
            placeholder="รายละเอียด"
            >
          </textarea>
          <br>
          upload-doc
          <br>	  
          <input
            id="troub_doc" 
            class="file" 
            type="file" 
            placeholder="เอกสาร">
          <br>
          upload-image
          <br>
          <input
            id="troub_pic"
            class="file" 
            type="file" 
            placeholder="รูปภาพ">
          <br>
          upload-video
          <br>
          <input
            id="troub_vid" 
            class="file" 
            type="file" 
            placeholder="วีดีโอ">
          <br>
          <button @click="send_trouble"type="text">send</button>

        </div>
      </div>

      <!-- problem-report end -->

      <!-- hire-to-fix start -->

      <div id="hire-to-fix">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">แจ้งซ่อม</h1>
            </div>
          </div>
        </section>
        <div class="column is-offset-1">
          <table class="table">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>วันที่</th>
                <th>ลูกค้า</th>
                <th>ปัญหา</th>
                <th>ผู้ดำเนินงาน</th>
                <th>สถานะ</th>
                <th>รายละเอียด</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                 is="problem-item" 
                 v-for="problem in problems" 
                 v-bind:problem="problem"
                 v-on:click_edit="click_edit_trouble_operator"
                 v-on:click_editor="click_edit_trouble_all">
              </tr>
            </tbody>
          </table>
        </div>  
      </div>

      <!-- hire-to-fix end -->

      <!-- operator-tracking start -->

      <div id="operator-tracking">
        operator-tracking
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d123975.20467730358!2d100.64444064550781!3d13.825514825099829!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x24616f0eea196585!2sFuture+Business+Solution+Co.%2CLTD.!5e0!3m2!1sen!2sus!4v1511258626034" style="border:0" allowfullscreen="" width="90%" height="480" frameborder="0">
        </iframe>

      </div>

      <!-- operator-tracking end -->

      <!-- repair-jobs start -->

      <div id="repair-jobs">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">งานซ่อม</h1>
            </div>
          </div>
        </section>
        <div class="column is-offset-1">
          <table class="table">
            <thead>
              <tr>
                <th>รหัส</th>
                <th>วันที่</th>
                <th>ลูกค้า</th>
                <th>ปัญหา</th>
                <th>ผู้ดำเนินงาน</th>
                <th>สถานะ</th>
                <th>รายละเอียด</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                 is="repair-job-items" 
                 v-for="problem in operator_problems" 
                 v-bind:problem="problem"
                 v-on:send_update="update_status"
                 v-on:click_editor="click_edit_trouble_all">
              </tr>
            </tbody>
          </table>
        </div>  
      </div>

      <!-- repair-jobs end -->

      <!-- job-report start -->

      <div id="job-report">
        job-report
        <br>
        full name
        <br>
        <input type="text" id="report-full_name" value="full name">
        <br>
        company
        <br>
        <input type="text" id="report-company" value="company">
        <br>
        serial
        <br>
        <input type="text" id="report-serial" value="serial">
        <br>
        tel
        <br>
        <input type="text" id="report-tel" value="telephone">
        <br>
        address
        <br>
        <input type="text" id="report-address" value="address">
        <br>
        signature
        <br>
        <input type="text" id="report-signature" value="signature">
        <br>
        responsible person
        <br>
        <input type="text" id="report-responsible_person" value="responsible person">
        <br>
        date
        <br>
        <input type="text" id="report-date" value="date">
        <button>document</button>
        <button v-on:click="save_report">save</button>
        <button>print</button>
      </div>

      <!-- job-report end -->

      <!-- Vue app end-->
    </div>
  </body>
  <script src="app.js"></script>
</html>
